body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  overflow: hidden;
  background: #000;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif') no-repeat center center;
  background-size: cover;
  opacity: .65;
}

.content {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
}
